.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}


#work img {
  border: 0 none;
  opacity: 0.8;
  width: 50%;
}
#work h3 {
  position: absolute;
  bottom: 20px;
  width: 50%;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}